[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
microsoft-kiota-abstractions = "*"
httpx = {version = "==0.23.0", extras = ["http2"]}

[dev-packages]
flit = "==3.7.1"
pylint = "==2.15.5"
mypy = "==0.982"
yapf = "==0.32.0"
isort = "==5.10.1"
pytest = "==7.2.0"
pytest-cov = "==4.0.0"
types-python-dateutil = "*"
toml = "==0.10.2"
pytest-asyncio = "==0.20.1"
pytest-mock = "==3.10.0"
asyncmock = "==0.4.2"
