-i https://pypi.org/simple

anyio==3.6.2 ; python_full_version >= '3.6.2'

certifi==2023.5.7 ; python_version >= '3.6'

h11==0.14.0 ; python_version >= '3.7'

h2==4.1.0

hpack==4.0.0 ; python_full_version >= '3.6.1'

httpcore==0.17.0 ; python_version >= '3.7'

httpx[http2]==0.24.0

hyperframe==6.0.1 ; python_full_version >= '3.6.1'

idna==3.4 ; python_version >= '3.5'

microsoft-kiota-abstractions==0.5.1

sniffio==1.3.0 ; python_version >= '3.7'

uritemplate==4.1.1 ; python_version >= '3.6'

