-i https://pypi.org/simple

astroid==3.0.1

certifi==2023.11.17

charset-normalizer==3.3.2

colorama==0.4.6

coverage[toml]==7.3.2

dill==0.3.7

docutils==0.20.1

exceptiongroup==1.2.0

flit==3.9.0

flit-core==3.9.0

idna==3.6

iniconfig==2.0.0

isort==5.12.0

lazy-object-proxy==1.9.0

mccabe==0.7.0

mock==5.1.0

mypy==1.7.1

mypy-extensions==1.0.0

packaging==23.2

platformdirs==4.0.0

pluggy==1.3.0

pylint==3.0.2

pytest==7.4.3

pytest-asyncio==0.21.1

pytest-cov==4.1.0

pytest-mock==3.12.0

requests==2.31.0

toml==0.10.2

tomli==2.0.1

tomli-w==1.0.0

tomlkit==0.12.3

types-python-dateutil==2.8.19.14

typing-extensions==4.8.0

urllib3==2.1.0

wrapt==1.16.0

yapf==0.40.2

anyio==4.1.0

h11==0.14.0

h2==4.1.0

hpack==4.0.0

httpcore==1.0.2

httpx[http2]==0.25.2

hyperframe==6.0.1

microsoft-kiota-abstractions==1.0.0

sniffio==1.3.0

uritemplate==4.1.1

opentelemetry-api==1.21.0

opentelemetry-sdk==1.21.0
